{% extends 'all_onr.html' %}
<!DOCTYPE html>
<html lang="en">
</head>
<title>Title</title>
<body>
</head>
{% block boy %}
    <li><a href="{% url 'home' %}">首页</a></li>
    <li class="active"><a href="{% url 'list' %}">博客列表 <span class="sr-only"></span></a></li>
    <li><a href="{% url 'game' %}">打发时间</a></li>
    <li><a href="{% url 'move' %}" target="_blank">影片</a></li>
    <li><a href="{% url 'bar' %}">可视化</a></li>
   </ul>
                     {% if user.is_authenticated %}
                         <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">个人信息</a>
                        </li>
                    {% else %}
                         <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录/注册</a>
                        </li>
                    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-grain"></span> 文章
                            （一共有{{ page_of_blogs.paginator.count }}篇）</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for i in page_of_blogs.object_list %}
                                <h3><a href="{{ i.pk }}" style="text-decoration:none;" >{{ i.title }}  </a></h3>
                                <p>
                                    发表时间：{{ i.created_time|date:'Y-n-d H:n:s' }}{#    date:'Y-n-d H:n:s' 时间显示央视#}
                                </p>
                               <p>
                                    分类：<a href="{% url 'blog_type_pk' i.blog_type.pk %}" style="text-decoration:none;">{{ i.blog_type }}</a>
                                    阅读（{{ i.read_num }}）
                                </p>
                                <p>{{ i.content|striptags|truncatechars:30 }}</p>{#    truncatechars装饰器 显示前30个字#}


                                {% if i.pk != blogs|length %}
                                    <hr>
                                {% endif %}


                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div>


                    <ul class="pagination">
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>

                        {% for pa_num in num %}


                            {% if pa_num == page_of_blogs.number %}
                            <li class="active"><span>{{ pa_num }}</span></li>
                                {% else %}
                                <li><a href="?page={{ pa_num }}">{{ pa_num }}</a></li>
                            {% endif %}

                        {% endfor %}


                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}

                        </li>
                    </ul>

                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="hidden-xs col-xs-0 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">分类</h3>
                    </div>
                    <div class="panel-body">
                        {% for i in blog_ty %}
                            <p><a href="{% url 'blog_type_pk' i.pk %}" style="text-decoration:none;">{{ i }}&nbsp; <span class="badge">{{ i.blog_count }}</span></a>
                        </p>
                        {% empty %}
                            <p>暂无文章</p>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}


{% block low_bar %}
    <div class="row-o" style="background-color: #a1a1a1;margin-top: 60px;">

{% endblock %}
</body>

</html>
